.equal-width {
  width: 100%;
  max-width: 300px; /* İhtiyacınıza göre ayarlayın */
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Butonlar arasındaki boşluk */
}

.game-header {
  font-family: 'Lexend Peta', sans-serif;
  font-weight: 700;
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Örnek gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  filter: drop-shadow(2px 4px 6px black); /* Gölge efekti */
} 